.singal-doctor {
    border-radius: 46px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 28px 28px 30px #8c8c8c,
        -28px -28px 30px #ffffff;
    padding-bottom: 10px;
    margin-top: 100px;
    text-align: center;
}

.singal-doctor h5 {
    padding-top: 30px;
}

.singal-doctor p {
    padding-left: 20px;
    padding-right: 20px;
}